$max-width: 1400px;

// Spacing
$space-xs: 4px;
$space-s: 12px;
$space-m: 20px;
$space-l: 32px;
$space-xl: 48px;

$column-gutter: $space-m;

// Colors
$primary-color: #000000;
$secondary-color: #000000;
$white: #ffffff;
$black: #000000;
